* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

header {
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navigation {
    display: contents;
    list-style-type: none;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.single-column-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

main p, main figure {
    height: 300px;
    width: 300px;
    padding-top: 142px;
    text-align: center;
}

.battle-scene {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.enemy, .player, .scene {
    display: flex;
    height: 150px;
    flex-direction: row;
    justify-content: space-evenly;
}

.status {
    padding-top: 57px;
}

.menu {
    padding-top: 32px;
}

.menu ul {
    list-style-type: none;
}