@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Pixelify Sans";
}

:root {
    --text-color: #00ff30;
}

body {
    background-color: black;
    color: var(--text-color);
}

header {
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navigation {
    display: contents;
    list-style-type: none;
}

a:link, a:visited {
    color: #5FBE92;
}

a:hover {
    color: white;
}

/* Welcome */
#landing-text {
    height: 400px;
    width: 400px;
    text-align: left;
    font-size: 20px;
}

/* About */
#bio-text {
    height: 400px;
    width: 400px;
    text-align: left;
    font-size: 20px;
}

/* Projects */
.battle-scene {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.single-column-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.menu ul {
    list-style-type: none;
}

.enemy, .player, .scene {
    display: flex;
    height: 150px;
    flex-direction: row;
    justify-content: space-evenly;
}

.enemy img {
    background-color: white;
}

#battle-menu ul li {
    text-align: left;
    width: 250px;
}

#restart:hover {
    color: red;
    font-weight: bold;
    list-style-type: disc;
}

/* Writing */
.preview {
    width: 400px;
}

#carousel {
    display: flex;
    flex-direction: row;
    height: 600px;
    align-items: center;
}

/* between desktop and phone */
@media (min-width: 768px) {
    * {
        color: var(--text-color);
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 15px;
    }
}

    /* Desktop */
@media (min-width: 1024px) {
    * {
        color: var(--text-color);
    }
    /*------------------------------- PROJECTS */
    .battle-scene {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    
    .single-column-content {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .menu ul {
        list-style-type: none;
    }
    
    .enemy, .player, .scene {
        display: flex;
        height: 150px;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .enemy img {
        background-color: white;
    }
    
    #battle-menu ul li {
        text-align: left;
        width: 250px;
    }
    
    #restart:hover {
        color: red;
        font-weight: bold;
        list-style-type: disc;
    }
}