@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Pixelify Sans";
}
:root {
    --bg-color: black;
    --text-color: #00ff30;
    --alt-text: #5FBE92;
    --alt-text-2: white;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 16px;
}
nav {
    display: flex;
    flex-direction: row;
}
.navigation {
    display: contents;
    list-style-type: none;
}
a:link, a:visited {
    color: var(--alt-text);
}
a:hover {
    color: var(--alt-text-2);
}
    /* between desktop and phone */
@media (min-width: 768px) {
    * {
        color: var(--text-color);
    }
}
    /* Desktop */
@media (min-width: 1024px) {
    * {
        color: var(--text-color);
    }
    header {
        height: auto;
    }
}