body {
    justify-content: start;
}
header {
    margin-top: 16px;
}
nav {
    display: none;
}
main {
    flex-direction: column;
    text-align: center;
    height: auto;
    width: 90%;
    margin-top: 16px;
}
p {
    height: auto;
    width: auto;
    text-align: left;
    font-size: calc(1rem + 1.5vw);
}
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
figure > img {
    max-inline-size: 100%;
    block-size: auto;
    width: 75%;
    margin-top: 0px;
}
figcaption {
    width: auto;
}
figcaption a img {
    max-inline-size: 100%;
    block-size: auto;
}

@media (min-width: 768px) {
    body {
        justify-content: center;
    }
    header {
        margin-top: 0;
    }
    main {
        flex-direction: row-reverse;
    }
    main > * {
        width: 50%;
    }
    nav {
        display: flex;
    }
    figure > img {
        margin: -16px;
    }
    p {
        font-size: calc(1rem + 1.25vw);
    }
}