body {
    justify-content: start;
}
header {
    margin-top: 16px;
}
nav {
    display: none;
}
main {
    flex-direction: column;
    height: auto;
    width: 90%;
}
p {
    height: auto;
    width: auto;
    text-align: left;
    font-size: calc(1rem + 1.5vw);
}
figure > img {
    height: 200px;
    width: 200px;
    margin: -16px;
}

@media (min-width: 768px) {
    body {
        justify-content: center;
    }
    header {
        margin-top: 0;
    }
    main {
        flex-direction: row-reverse;
    }
    nav {
        display: flex;
    }
    figure > img {
        height: 400px;
        width: 400px;
    }
    p {
        font-size: calc(1rem + 1.25vw);
    }
}