nav {
    display: none;
}
main {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.battle-scene {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.menu ul {
    list-style-type: none;
}

.enemy, .player, .scene {
    display: flex;
    height: 150px;
    flex-direction: row;
    justify-content: space-evenly;
}

.enemy img {
    background-color: white;
}

#battle-menu ul li {
    text-align: left;
    width: 250px;
}

#restart:hover {
    color: red;
    font-weight: bold;
    list-style-type: disc;
}

@media (min-width: 768px) {
    h2 {
        margin: 16px;
    }
    nav {
        display: flex;
    }
    .scene .status {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 16px;
        width: 40vw;
    }
    #battle-menu {
        margin: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}