body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100vh;
    width: 100vw;
}
header {
    height: auto;
    margin: 16px 0;
}
nav {
    display: none;
}
.preview {
    width: 100%;
}
#preview-text {
    font-size: clamp(.5rem, .5rem + 2vw, 3rem);
}
#preview-title {
    font-size: clamp(1rem, 1rem + 2vw, 3rem);
}
#carousel {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 90%;
    align-items: center;
    flex-direction: column;
}
#leftBtn {
    display: none;
}
#rightBtn {
    display: none;
}
.nextBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(1rem, .75rem + 2vw, 2rem);
    border: 3px solid var(--text-color);
    width: 100%;
    height: auto;
    margin: 16px 0;
    font-size: calc(1rem + 2vw);
}
@media (min-width: 768px) {
    body {
        justify-content: start;
    }
    nav {
        display: flex;
    }
    #carousel {
        margin: 0;
        flex-direction: row;
    }
    #leftBtn {
        display: inline-block;
        margin-right: 16px;
    }
    #rightBtn {
        display: inline-block;
        margin-left: 16px;
    }
    .preview {
        width: 60%;
        height: auto;
        margin-bottom: 16px;
    }
    #preview-text {
        font-size: clamp(1rem, .1rem + 2vw, 2rem)
    }
    #preview-title {
        font-size: clamp(1rem, .75rem + 2vw, 3rem);
    }
    .nextBtn {
        display: none;
    }
}